@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-family: PingFangSC-Regular, "微软雅黑", sans-serif;
}
article h1 {
  font-size: 20px;
  -webkit-user-select: none;
  user-select: none;
}
article ul {
  padding: 0 20px;
}
article ul li {
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6;
  -webkit-user-select: none;
  user-select: none;
}
.addItem-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background-color: #f44336;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transition: 0.3s;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}
.addItem-btn.on {
  transform: scale(1);
}
.addItem-btn a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  line-height: 0;
  -webkit-tap-highlight-color: transparent;
}
.list {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  background: #fff;
}
.list:before {
  content: ' ';
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border-top: 1px solid #ddd;
  transform: scale(0.5);
}
.list .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  -webkit-user-select: none;
  user-select: none;
}
.list .item:after {
  content: ' ';
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border-top: 1px solid #ddd;
  transform: scale(0.5);
}
.list .item .num {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 18px;
  max-width: 18px;
  height: 18px;
  margin: 0 20px 0 0;
  background: blue;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.list .item h4 {
  pointer-events: none;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 64px;
  margin: 0;
  font-size: 14px;
}
.list .item .menu {
  pointer-events: none;
  width: 20px;
  margin: 0 0 0 20px;
  transition: 0.3s;
}
.list .item .menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: gray;
  margin: 0 0 4px;
}
.list .item .menu span:first-child,
.list .item .menu span:last-child {
  background: transparent;
  display: flex;
}
.list .item .menu span:first-child:before,
.list .item .menu span:last-child:before,
.list .item .menu span:first-child:after,
.list .item .menu span:last-child:after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: gray;
}
.list .item .menu span:last-child {
  margin: 0;
}
.list .item.moving {
  background: #8989ff;
  box-shadow: 0 0 10px 0 #ccc;
  position: relative;
  z-index: 1;
  transition: background box-shadow 0.3s;
}
.list .item.moving .num {
  background: #fff;
  color: blue;
}
.list .item.moving .menu span:first-child:before {
  background: #fff;
  transform: rotate(-35deg) translateX(2px);
  transition: 0.3s;
}
.list .item.moving .menu span:first-child:after {
  background: #fff;
  transform: rotate(35deg) translateX(-2px);
  transition: 0.3s;
}
.list .item.moving .menu span:last-child {
  margin: 5px 0 0;
}
.list .item.moving .menu span:last-child:before {
  background: #fff;
  transform: rotate(35deg) translateX(2px);
  transition: 0.3s;
}
.list .item.moving .menu span:last-child:after {
  background: #fff;
  transform: rotate(-35deg) translateX(-2px);
  transition: 0.3s;
}
.list .item.moving .menu span:nth-child(2) {
  display: none;
}
.list .item.disable .num {
  background: #ccc;
}
.list .item.disable .menu {
  opacity: 0;
}
footer {
  padding: 80px 0 10px;
  display: flex;
  justify-content: center;
  color: #757575;
  font-size: 14px;
}
